[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
graphene-django = "*"
django-graphql-jwt = "*"
pyjwt = ">=1.5.0,<2"
django-environ = "*"
psycopg2-binary = "*"
django-model-utils = "*"
django-polymorphic = "*"
pillow = "*"
easy-thumbnails = "*"
lxml = "*"
graphene-file-upload = "*"
gpxpy = {editable = true, git = "https://github.com/tkrajina/gpxpy.git", ref = "e3733bbd59d11bcbf089f30b286286fcd728bb46"}
django-cleanup = "*"
exif = "*"
gunicorn = "*"

[requires]
python_version = "3"
